<h1 id="page_title">Salsaal Dari Program</h1>
<div class="container">
	<br>
	<p>In the last one year, we have been extensively engaged with community elders, families, parents and people of all age groups to discuss and find our community needs. Among many wants and needs, we found that establishing a community language school to teach the Afghan children their mother tongue, Dari/Farsi language, is one of the community’s top priority needs in Western Australia. Most of the Afghan children, especially those who were born and raised in Australia, are fluent in English but cannot speak their mother tongue, Dari/Farsi. On the other hand, their parents are fluent in Dari/Farsi but cannot speak English. As result, most of Afghan parents fails to maintain effective communication with their children.</p>
	<p>Additionally, Afghan Australians are very keen to maintain their heritage and culture. Therefore, they keep communicating with each other’s and their family members in their own language, Dari Farsi.</p>
	<p>Therefore, Salsaal Dari School was established in June 2015 to overcome the issue of intern-generational problems, strengthening community language, culture and heritage, and teaching Dari/Farsi language for Afghan children who are born or raised in Australia and have had difficulties in reading, writing, listening and speaking.</p>
	<p>Since its establishment, The City of Gosnells has been providing us venue at the Knowledge Centre to continue our classes, and the Office of Multicultural Interests together with the Australian Federation of Ethnic Schools Associations Inc. are providing professional trainings for our teachers and volunteers.</p>
	<p>SIA planned to start its Dari School on February 2016 and finishes concurrently with school period in December of the same year. At the moment, Salsaal’s Dari School is operating at the Knowledge Centre, City of Gosnells, covering south of the river only. From 2016 onwards, SIA planned to open another branch at the City of Stirling, covering north of the river as well.</p>
	<br>
	<div class="salsaal_images">
	    <%= image_tag("dari.jpg", class: "img-responsive salsaal_images", :align=> "middle", :size => "800x600")%>
	    <br>
	    <%= image_tag("dari_level1.jpg", class: "img-responsive salsaal_images", :align=> "middle", :size => "800x600")%>
	    <br>
	    <%= image_tag("dari_level2.jpg", class: "img-responsive salsaal_images", :align=> "middle", :size => "800x600")%>
	    <br>
    </div>

</div>