<h1 id="page_title">About Us</h1>
<div class="container">
	<h3>Abstract</h3>
	<p>Salsal Integration Association, Inc. (SIA) is a non-for-profit organisation aims to provide extensive ranges of cultural, educational and recreational programs and promote awareness between people of diverse communities in Western Australia. SIA empowers the learning opportunities of the Perth Culturally and Linguistically Diverse (CaLD) residents, especially the Afghans, by organising cultural events such as New Year (Nowrooz) eve and Eid; educational programs such as offering free Dari, Hazaragi and English programs for new arrivals refugees and children;  women empowerment programs such as celebrating International Women Day and other civic and recreational programs to promote awareness and respect between people of different communities in Perth, Western Australia.</p>
	<p>SIA was established in August 2014 and since then we are working with local communities, government offices and independent organisations by providing and running excellent meaningful and outcome-oriented support services and projects across the spectrum for the Afghan and CaLD communities in South and North of the river, Western Australia. SIA will starts the following programs in August 2015: </p>
	<ul>
		<li>Community Language School (Dari/Farsi language) in South (City of Gosnells) and North (City of Stirling) of the river;</li>
		<li>English program for migrants in South and North of the river;</li>
		<li>Awareness programs and information sessions for migrants and people from CaLD communities (Perth CBD);</li>
		<li>One-by-one drop-in services for Afghans and people from CaLD communities (City of Stirling)</li>
	</ul>

	<p>SIA's objectives:</p>
	<ul>
		<li type="a">Promoting an environment of growth, culture exchange and friendship among the people of Australia with diverse backgrounds;</li>
		<li type="a">Fostering an environment to help maintaining culture, traditions and moral values of the Afghan people as well as to adapt to applicable values of the local Australian community in harmonious way;</li>
		<li type="a">Presenting Afghan cultures to the Australian society by holding cultural events such as Eid, Nowrooz and other ceremonies/events by inviting people for CaLD communities;</li>
		<li type="a">Sponsoring Afghan artists, singers and musicians and academics for delivering our voices through their arts, presentations, expertise and professions;</li>
		<li type="a">Providing a forum of friendly environment where Afghan women discusses their issues that are important to their life;</li>
		<li type="a">Creating attractive recreational and educational activities for Afghan women and children who are isolated in the community;</li>
		<li type="a">Creating a forum where Salsaal members and community at large can discuss and explore issues and ideas relevant to their day-to-day life;</li>
		<li type="a">Creating an interactive network of students and promoting culture of understanding among Afghan students to pursue their higher education;</li>
		<li type="a">Promoting awareness among people to respect each other's believes and faith;</li>
		<li type="a">Raising funds and donations for the organisation to run its activities independently</li>
		<li type="a">And promoting the ideas and philosophy of working as a team</li>
	</ul>
	<br/>
	<br/>
</div>